<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="twitter.css">
  <style>
    body {
      max-width: 960px;
      margin: 0 auto;
      background: #fff;
    }
  </style>
</head>
<body>

<div class="twitter">
  <h1 class="searchTitle"></h1>
</div>


<script id="searchTemplate" type="text/template">
  <input type="search" id="query" placeholder="What would you like to seach for?">
</script>
<script id="twitterTemplate" type="text/template">
  <img src="<%= profile_image_url %>" alt="<%= from_user_name %>">
  <span class="userName"><%= from_user_name %></span> <span class="twittTime"><%= time %></span><p><%= text %> (<a class="more" href="<%= url %>">more</a>)</p>
</script>
<script src="js/underscore.js"></script>
<script src="js/jquery-1.9.1.js"></script>
<script src="js/backbone.js"></script>
<script src="js/twitterSearch.js"></script>
</body>
</html>