.twitter {
  width: 300px;
  height: 350px;
  margin: 10px auto;
  text-align: center;
  background: rgb(0, 187, 245);
  background: rgba(0, 187, 245, .5);
  overflow: hidden;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  color: #000;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 4px rgb(0, 0, 0);
  position: relative;
}

.twitter .searchBar, .searchTitle {
  width: inherit;
  height: 40px;
  position: absolute;
  background: rgb(0, 0, 0);
  padding: 10px 0;
  z-index: 3;
}

.twitter .searchTitle {
  display: none;
  font-size: 2em;
  line-height: 40px;
  color: #FFF;
  font-weight: 800;
  letter-spacing: 0.3em;
}

.searchBar input[type="search"] {
  width: 90%;
  margin: 10px auto;
  outline: none;
}

.twitts {
  width: inherit;
  margin: 60px 0 0;
}

.twitt:before,
.twitt:after {
  content: " ";
  display: table;
}

.twitt:after {
  clear: both;
}

.twitt {
  min-height: 70px;
  background: rgba(0, 187, 245, .2);
  border-radius: 10px;
  margin: 5px 0 0 0;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.twitt:hover {
  background: rgba(0, 187, 245, .3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.twitt img {
  width: 48px;
  height: 48px;
  padding-right: 5px;
  position: absolute;
  top: 10px;
  left:5px;
}

.twitt .userName, .twittTime {
  padding: 5px 0 0 0;
  display: inline-block;
}

.twitt .userName {
  max-width: 55%;
  font-size: 1.1em;
  font-weight: 900;
  margin-left: 58px;
}

.twitt .twittTime {
  max-width: 40%;
  position: absolute;
  right: 5px;
  font-size: 0.85em;
  font-weight: 600;
  color: rgb(96, 98, 102);
  color: rgba(96, 98, 102, 0.8);

}
.twitt p {
  padding: 0 10px 5px 0;
  margin-left: 58px;
}

.twitt a {
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

.twitt a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.twitt .more {
  text-decoration: underline;
  padding: 5px;
}

.twitter .errorMessage {
  padding: 20px 0 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: 800;
}





